.specialbutton {
  color: White;
  font-family: "proxima nova";
  font-weight: 200;
  font-size: 35px;
  text-align: center;

  border: solid 4px black;
  border-radius: 50px;

  padding: 10px 70px;

  wrok:transition-duration: 200ms;
  transition-duration: 200ms;

}
.specialbutton:hover {
  background-color: teal;
  color: White;
}
